.green {
    background-color: lightgreen;
}

.doc-content {
    max-width: 864px;
    margin: 32px;
    box-sizing: border-box;
}

.doc-toolbar {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
}