<header class="nav-header">
      <a ui-sref="" class="docs-logo logo-anchor">
        <!--<img src="assets/img/angular-logo.svg" alt="" />-->
        <img src="assets/img/digital_pulz_logo.png" alt="" />
        <h1 class="docs-logotype md-heading">Out Patient Department</h1>
      </a>
    </header>
<md-list class="no-vertical-padding">
    <md-list-item ng-click="null" ui-sref="opd.dashboard">
        <div class="md-list-item-text" layout="column">
            <!--<h4>Dashboard</a></h4>-->
            <span>Dashboard</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" ui-sref="opd.patients">
        <div class="md-list-item-text" layout="column">
            <!--<h4>My OPD Patients</h4>-->
            <span>My OPD Patients</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null">
        <div class="md-list-item-text" layout="column">
            <!--<h4>My Queue</h4>-->
            <span>My Queue</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" ui-sref="opd.questionnaire">
        <div class="md-list-item-text" layout="column">
            <!--<h4>Questionnaires</h4>-->
            <span>Questionnaires</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" ui-sref="opd.newPatients">
        <div class="md-list-item-text" layout="column">
            <!--<h4>New Patients</a></h4>-->
            <span>New Patient</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" ui-sref="opd.patientOverview">
        <div class="md-list-item-text" layout="column">
            <!--<h4>Patients Overview</a></h4>-->
            <span>Patients Overview</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" ui-sref="opd.updatePatient">
        <div class="md-list-item-text" layout="column">
            <!--<h4>Patients Overview</a></h4>-->
            <span>Update Patient</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" ui-sref="opd.prescribeDrugs">
        <div class="md-list-item-text" layout="column">
            <!--<h4>Patients Overview</a></h4>-->
            <span>Drug prescriptions</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null" ui-sref="opd.newExaminations">
        <div class="md-list-item-text" layout="column">
            <!--<h4>Patients Overview</a></h4>-->
            <span>Patient examinations</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>

    <md-list-item ng-click="null" ui-sref="opd.patientOverviewForNurse">
        <div class="md-list-item-text" layout="column">
            <!--<h4>Patients Overview</a></h4>-->
            <span>Patient Overview</span>
        </div>
    </md-list-item>
    <md-divider></md-divider>

</md-list>