<header class="nav-header">
    <!--<img src="assets/img/digital_pulz_logo.png" width="500" alt="">-->
</header>
<md-list>
    <md-list-item ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h4>Dashboard</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h4>My OPD Patients</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h4>My Queue</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
    <md-list-item ng-click="null" class="md-theme-light">
        <div class="md-list-item-text" layout="column">
            <h4>Questionnaire</h4>
        </div>
    </md-list-item>
</md-list>