<header class="nav-header">
    <!--<img src="assets/img/digital_pulz_logo.png" width="500" alt="">-->
</header>
<md-list>
    <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
    <md-list-item ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h4>Item 1</h4>
        </div>
    </md-list-item>
    <md-list-item ng-click="null">
        <div class="md-list-item-text" layout="column">
            <h4>Item 2</h4>
        </div>
    </md-list-item>
</md-list>