<md-toolbar layout="row" class="md-whiteframe-glow-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
        <h1>Patients Overview</h1>
    </div>
</md-toolbar>
<md-content layout-padding>
    <div>
        <form ng-controller="patientsOverviewController" name="patientOverviewForm" ng-cloak>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Patients Details</span>
                    </md-card-title-text>
                </md-card-title>
                <div layout-gt-sm="row">
                    <md-input-container flex="15">
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Patients List</label>
                        <md-select name="patientsList" ng-model="patientsList" ng-click="getPatients()" required>
                            <md-option ng-repeat="patient in patients" value="{{patient.firstName}} {{patient.lastName}}" ng-click="selectPatient(patient.firstName)">
                                {{patient.firstName}} {{patient.lastName}}</md-option>
                        </md-select>
                        <div ng-messages="patientOverviewForm.bloodGroup.$error" role="alert">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container flex="15">
                    </md-input-container>
                    <md-input-container flex="60">
                        <table md-table multiple>
                            <tbody md-body>
                                <tr md-row>
                                    <td>
                                        <h4> Name : </h4>
                                    </td>
                                    <td>
                                        <p>{{name}}</p>
                                    </td>
                                </tr>
                                <tr md-row>
                                    <td>
                                        <h4> HIN : </h4>
                                    </td>
                                    <td>
                                        <p>{{HIN}}</p>
                                    </td>
                                </tr>
                                <tr md-row>
                                    <td>
                                        <h4> Date of Birth : </h4p>
                                    </td>
                                    <td>
                                        <p>{{dob |date:'dd-MMM-yyyy'}}</p>
                                    </td>
                                    <td>
                                        <h4>Gender : </h4>
                                    </td>
                                    <td>
                                        <p>{{gender}}</p>
                                    </td>
                                </tr>
                                <tr md-row>
                                    <td>
                                        <h4>Civil Status : </h4>
                                    </td>
                                    <td>
                                        <p>{{civilStatus}}</p>
                                    </td>
                                </tr>
                                <tr md-row>
                                    <td>
                                        <h4>Address : </h4>
                                    </td>
                                    <td>
                                        <p>{{address}}</p>
                                    </td>
                                </tr>
                                <tr md-row>
                                    <td>
                                        <h4> Phone : </h4>
                                    </td>
                                    <td>
                                        <p>{{phone}}</p>
                                    </td>
                                    <td>
                                        <h4>Mobile : </h4>
                                    </td>
                                    <td>
                                        <p>{{mobile}}</p>
                                    </td>
                                </tr>
                                <tr md-row>
                                    <td>
                                        <h4>Blood Group : </h4>
                                    </td>
                                    <td>
                                        <p>{{bloodGroup}}</p>
                                    </td>
                                    <td>
                                        <h4>BMI : </h4>
                                    </td>
                                    <td>
                                        <p>{{BMI}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-input-container>
                </div>
            </md-card>

            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Allergies" ng-click="getAllergies()">
                        <md-content class="md-padding">
                            <md-input-container class="md-block" flex="35">
                                <label>Search</label>
                                <input name="searchAllergy" ng-model="searchAllergy">
                            </md-input-container>
                            <table md-table multiple>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Allergy</th>
                                        <th md-column>Status</th>
                                        <th md-column>Remark</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="allergy in allergies | filter:searchAllergy">
                                        <td md-cell>{{allergy.allergy}}</td>
                                        <td md-cell>{{allergy.status}}</td>
                                        <td md-cell>{{allergy.remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>

                    <md-tab label="Visits" ng-click="getVisits()">
                        <md-content class="md-padding">
                            <md-input-container class="md-block" flex="35">
                                <label>Search</label>
                                <input name="searchVisits" ng-model="searchVisits">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <md-button class="md-raised md-primary" ng-click="setPaient()" ui-sref="opd.visits" ng-disabled="patientOverviewForm.$invalid">Add New Visits</md-button>
                            </md-input-container>
                            <table md-table multiple>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Visit Type</th>
                                        <th md-column>Visit Number</th>
                                        <th md-column>Date and Time</th>
                                        <th md-column>Complaint</th>
                                        <th md-column>Remark</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="visit in visits | filter:searchVisits">
                                        <td md-cell>{{visit.visitType}}</td>
                                        <td md-cell>{{visit.visitNo}}</td>
                                        <td md-cell>{{visit.dateTime}}</td>
                                        <td md-cell>{{visit.complaint}}</td>
                                        <td md-cell>{{visit.remark}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>

                    <md-tab label="Examinations" ng-click="getExaminations()">
                        <md-content class="md-padding">
                            <md-input-container class="md-block" flex="35">
                                <label>Search</label>
                                <input name="searchExam" ng-model="searchExam">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <md-button class="md-raised md-primary" ng-click="setPaient()" ng-disabled="patientOverviewForm.$invalid">Add New Examinations</md-button>
                            </md-input-container>
                            <table md-table multiple>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Date</th>
                                        <th md-column>Weight (kg)</th>
                                        <th md-column>Height (cm)</th>
                                        <th md-column>Systolic Blood Pressure</th>
                                        <th md-column>Diastolic Blood Pressure</th>
                                        <th md-column>Temperature</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="examination in examinations | filter:searchExam">
                                        <td md-cell>{{examination.date}}</td>
                                        <td md-cell>{{examination.weight}}</td>
                                        <td md-cell>{{examination.height}}</td>
                                        <td md-cell>{{examination.SBP}}</td>
                                        <td md-cell>{{examination.DBP}}</td>
                                        <td md-cell>{{examination.temperature}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>

                    <md-tab label="Lab Orders" ng-click="getLabs()">
                        <md-content class="md-padding">
                            <md-input-container class="md-block" flex="35">
                                <label>Search</label>
                                <input name="searchLab" ng-model="searchLab">
                            </md-input-container>
                            <md-input-container class="md-block" flex="35">
                                <md-button class="md-raised md-primary" ng-click="setPaient()" ng-disabled="patientOverviewForm.$invalid">Add New Labs</md-button>
                            </md-input-container>
                            <table md-table multiple>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>Name</th>
                                        <th md-column>Date</th>
                                        <th md-column>Status</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="lab in labs | filter:searchLab">
                                        <td md-cell>{{lab.name}}</td>
                                        <td md-cell>{{lab.date}}</td>
                                        <td md-cell>{{lab.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>

                    <md-tab label="Notes" ng-click="getNotes()">
                        <md-input-container class="md-block" flex="35">
                            <label>Search</label>
                            <input name="searchNote" ng-model="searchNote">
                        </md-input-container>
                        <md-input-container class="md-block" flex="35">
                            <md-button class="md-raised md-primary" ng-click="setPaient()" ui-sref="opd.notes" ng-disabled="patientOverviewForm.$invalid">Add Notes</md-button>
                        </md-input-container>
                        <table md-table multiple>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column>Date</th>
                                    <th md-column>Note</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="note in notes | filter:searchNote">
                                    <td md-cell>{{note.date}}</td>
                                    <td md-cell>{{note.note}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-tab>

                    <md-tab label="Attachments" ng-click="getAttchments()">
                        <md-content class="md-padding">
                            <md-input-container class="md-block" flex="35">
                                <label>Search</label>
                                <input name="searchAttc" ng-model="searchAttc">
                            </md-input-container>
                            <table md-table multiple>
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>File</th>
                                        <th md-column>Attachment Type</th>
                                        <th md-column>Attachment Name</th>
                                        <th md-column>Description</th>
                                        <th md-column>Remark</th>
                                        <th md-column>Attached By</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="attachment in attachments | filter:searchAttc">
                                        <td md-cell>{{attachment.file}}</td>
                                        <td md-cell>{{attachment.type}}</td>
                                        <td md-cell>{{attachment.name}}</td>
                                        <td md-cell>{{attachment.description}}</td>
                                        <td md-cell>{{attachment.remark}}</td>
                                        <td md-cell>{{attachment.attchedBy}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-content>
                    </md-tab>
                </md-tabs>

            </md-card>
        </form>
    </div>
</md-content>